* {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: .5em 0 .5em;
  /* font-family: 'Assistant', sans-serif; */
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

button {
  cursor: pointer;
  margin: 0.5em;
  border: 0;
  padding: 0.5em 0.8em;
  border-radius: 4px;   
}

button:hover {
  background-color: var(--clr2);
  color: white;
  transition: .3s;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}