.main-layout {
display: grid;
grid-template-columns: 40px auto 40px;
}

.full {
  grid-column: 1/-1;

}

.mid-col {
  grid-column: 2;
}
.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
}

.book-list {
  background-color: aqua;
}

